<ion-header>
  <ion-navbar>
    <ion-title>
      {{activity.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-item [ngStyle]="{
      'background': 'linear-gradient(0deg, rgba(255, 255, 255, 0.7), 
                    rgba(255, 255, 255, 0.7)), 
                    url(assets/imgs/course/'+this.pic+'.png) center center / cover no-repeat'}">
    <div>
      <p ion-text text-center style="font-size:30px; text-shadow: 2px 2px #ffffff;" color="dark"><b>{{course_id}}</b></p>
      <p ion-text style="font-size:16px;" color="dark" style="text-shadow: 1px 1px #ffffff;">
        <ion-icon name="school"></ion-icon>&nbsp;
        <b>{{course_name}}</b>
      </p>
      <p ion-text style="font-size:14px;" color="dark" ion-text>
        <ion-icon name="people"></ion-icon>&nbsp;
        จำนวนนักศึกษา {{studentCount}}
      </p>
    </div>

    <!--button ion-button block (click)="onClick_Create()">
                        <div>CREATE NEW ATTENDANCE</div>
                      </button-->
    <div style="padding:3px"></div>
    <ion-row text-center>
      <ion-col>

        <button type="button" (click)="onClick_CreateScanSet()" class="btn btn-primary" style="font-size:14px;height:42px; width: 42%">
          <ion-icon name="contacts"></ion-icon>&nbsp;
          สแกนเป็นชุด
        </button>
        &nbsp;&nbsp;
        <button type="button" (click)="onClick_CreateScanPerson()" class="btn btn-primary" style="font-size:14px;height:42px; width: 42%">
          <ion-icon name="contact"></ion-icon>&nbsp;
          สแกนรายบุคคล
        </button>
      </ion-col>
    </ion-row>

    <!--ion-row>
      <ion-thumbnail item-start>
        <img src="{{'assets/imgs/logoApp.png'}}">
      </ion-thumbnail>
      <div item-content>
        <h2 ion-text><b>{{course_id}}</b></h2>
        <p ion-text color="dark">{{course_name}}</p>
        <p ion-text color="dark" ion-text>จำนวนนักศึกษาทั้งหมด : {{studentCount}}</p>
      </div>
    </ion-row>
    <ion-row>
      <hr>
      <ion-col>
        <button ion-button block (click)="onClick_CreateScanSet()">
          <div>สแกนเป็นชุด</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="onClick_CreateScanPerson()">
          <div>สแกนรายบุคคล</div>
        </button>
      </ion-col>
    </ion-row-->
  </ion-item>

  <!--ion-item style="padding: 5%">
    <div item-content ion-text text-right style="font-size: 14px">
      <b>{{activity.name}}</b>
    </div>
    <div item-end ion-text text-right style="font-size: 12px">
      ASC/DESC<br>
      <ion-toggle [(ngModel)]="isToggled"></ion-toggle>
    </div>
  </ion-item-->

  <!--///////////////////////////////////////////////////////////////////-->

  <ion-list *ngIf="isToggled==false">
    <ion-item style="padding-top: 5%; font-size: 14px">
      <ion-label><b>{{activity.name}}</b></ion-label>
      <ion-toggle [(ngModel)]="isToggled"></ion-toggle>
    </ion-item>

    <ion-item-sliding #item *ngFor="let schedule of scheduleQuizList ; let i = index; let odd = odd">
      <button detail-none (click)="expandItem(schedule)" ion-item>
        <ion-grid>
          <h6>
            <ion-row ion-text>
              <ion-col col-3 text-center>
                <div *ngIf="odd" class="numberCircle-odd">
                  {{ i+1 }}
                </div>
                <div *ngIf="!odd" class="numberCircle-even">
                  {{ i+1 }}
                </div>
                <!--img src="{{'assets/imgs/number/' + (i+1) + '.png'}}" style="width:50px; height:50px"-->
              </ion-col>
              <ion-col>
                <ion-row ion-text [color]="odd ? 'tone1' : 'tone2'" style="padding-bottom: 3px;">
                  <h3>&nbsp;
                    <ion-icon name="calendar"></ion-icon> : {{schedule.date | date:'dd-MM-yyyy'}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-icon name="clock"></ion-icon> : {{schedule.date | date:'HH:mm'}}
                  </h3>
                </ion-row>
                <ion-row ion-text color="gray" style="padding-bottom: 3px;">
                  <h4>&nbsp;
                    <b>
                      <ion-icon name="checkmark" ion-text color="success"></ion-icon>
                    </b>
                    &nbsp;บันทึกคะแนนแล้ว : {{schedule.count}}/ {{studentCount}}
                  </h4>
                </ion-row>
              </ion-col>
            </ion-row>
          </h6>
        </ion-grid>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="schedule.expanded">
          <ion-grid>
            <h6>
              <ion-row ion-text text-center>
                <ion-col ion-text color='primary'>
                  <ion-icon name="people"></ion-icon><br>กลุ่ม
                </ion-col>
                <ion-col ion-text color='success'>
                  <ion-icon name="happy"></ion-icon><br>บันทึกแล้ว
                </ion-col>
                <ion-col ion-text color='danger2'>
                  <ion-icon name="sad"></ion-icon><br>ยังไม่บันทึก
                </ion-col>
              </ion-row>
              <div ion-text [color]="odd ? 'tone1' : 'tone2'" *ngFor="let g of groupList">
                <ion-row ion-text text-center>
                  <ion-col ion-text color='primary'>{{g.gid}}</ion-col>
                  <ion-col ion-text color='success'><b>{{g.countCheck}}</b>/{{g.all}}</ion-col>
                  <ion-col ion-text color='danger2'><b>{{g.countZero}}</b>/{{g.all}}</ion-col>
                </ion-row>
              </div>
            </h6>
          </ion-grid>
        </expandable>
      </button>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="onClick_ScanRepeat2(schedule.id, schedule)">
          <ion-icon name="keypad" style="font-size: 25px"></ion-icon>
          Enter <br>Student ID
        </button>
        <button ion-button color="secondary" (click)="onClick_ScanRepeat1(schedule.id, schedule)">
          <ion-icon name="qr-scanner" style="font-size: 25px"></ion-icon>
          SCAN REPEAT
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onClick_Delete(schedule.id)">
          <ion-icon name="trash" style="font-size: 25px"></ion-icon>
          Delete
        </button>
        <button ion-button color="gray" (click)="onClick_Setting(schedule.id, schedule)">
          <ion-icon name="settings" style="font-size: 25px"></ion-icon>
          Setting
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!--///////////////////////////////////////////////////////-->

  <ion-list *ngIf="isToggled==true">
    <ion-item style="padding-top: 5%; font-size: 14px">
      <ion-label><b>{{activity.name}}</b></ion-label>
      <ion-toggle [(ngModel)]="isToggled"></ion-toggle>
    </ion-item>

    <ion-item-sliding #item *ngFor="let schedule of scheduleQuizList.slice().reverse() ; let i = index; let odd = odd">
      <button detail-none (click)="expandItem(schedule)" ion-item>
        <ion-grid>
          <h6>
            <ion-row ion-text>
              <ion-col col-3 text-center>
                <div *ngIf="odd" class="numberCircle-odd">
                  {{ (scheduleQuizList.length-i) }}
                </div>
                <div *ngIf="!odd" class="numberCircle-even">
                  {{ (scheduleQuizList.length-i) }}
                </div>
                <!--img src="{{'assets/imgs/number/' + (scheduleQuizList.length-i) + '.png'}}" style="width:50px; height:50px"-->
              </ion-col>
              <ion-col>
                <ion-row ion-text [color]="odd ? 'tone1' : 'tone2'" style="padding-bottom: 3px;">
                  <h3>&nbsp;
                    <ion-icon name="calendar"></ion-icon> : {{schedule.date | date:'dd-MM-yyyy'}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-icon name="clock"></ion-icon> : {{schedule.date | date:'HH:mm'}}
                  </h3>
                </ion-row>
                <ion-row ion-text color="gray" style="padding-bottom: 3px;">
                  <h4>&nbsp;
                    <b>
                      <ion-icon name="checkmark" ion-text color="success"></ion-icon>
                    </b>
                    &nbsp;บันทึกคะแนนแล้ว : {{schedule.count}}/ {{studentCount}}
                  </h4>
                </ion-row>
              </ion-col>
            </ion-row>
          </h6>
        </ion-grid>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="schedule.expanded">
          <ion-grid>
            <h6>
              <ion-row ion-text text-center>
                <ion-col ion-text color='primary'>
                  <ion-icon name="people"></ion-icon><br>กลุ่ม
                </ion-col>
                <ion-col ion-text color='success'>
                  <ion-icon name="happy"></ion-icon><br>บันทึกแล้ว
                </ion-col>
                <ion-col ion-text color='danger2'>
                  <ion-icon name="sad"></ion-icon><br>ยังไม่บันทึก
                </ion-col>
              </ion-row>
              <div *ngFor="let g of groupList">
                <ion-row ion-text text-center>
                  <ion-col ion-text color='primary'>{{g.gid}}</ion-col>
                  <ion-col ion-text color='success'><b>{{g.countCheck}}</b>/{{g.all}}</ion-col>
                  <ion-col ion-text color='danger2'><b>{{g.countZero}}</b>/{{g.all}}</ion-col>
                </ion-row>
              </div>
            </h6>
          </ion-grid>
        </expandable>
      </button>

      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="onClick_ScanRepeat(schedule.id, schedule)">
          <ion-icon name="qr-scanner" style="font-size: 25px"></ion-icon>
          SCAN REPEAT
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="onClick_Delete(schedule.id)">
          <ion-icon name="trash" style="font-size: 25px"></ion-icon>
          Delete
        </button>
        <button ion-button color="gray" (click)="onClick_Setting(schedule.id, schedule)">
          <ion-icon name="settings" style="font-size: 25px"></ion-icon>
          Setting
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>